.banner{
    background-image: url('/public/Images/banner.jpg');
    height: 100vh;
}
.image3{
    background-image: url('/public/Images/image2.jpg');
    height: 100vh;
}
.btn-animate{
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    padding: 15px 50px;
    margin-top: 10px;
    border: 2px solid #fff;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    z-index: 2;
}

.btn-animate:hover span{
    color: #000;

}
.btn-animate .hover{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #fff;
   color: #000;
   z-index: -1;
   transform: translateY(100%);
   transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-animate:hover .hover{
    transform: translateY(0);

}


